.wink-box-controller {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 200px;
  border: 1.5px solid gray;
  border-radius: 3%;
  background: rgb(1, 13, 100, 0.4);

  &.disabled {
    background: gray;
  }

  .media-switch-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .media-switch {
      margin: 7px;
      background: lightsteelblue;

      &.ant-switch-checked {
        background: #4659ff;
      }
    }
  }

  .media-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .wink-emoji {
      width: 120px;
      height: 120px;
    }
  }

}